<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>AWS Deep Lens - Video Streaming</title>
        <meta name="description" content="">
        <meta name="ISeeYou" content="AWS Deep Lens Video Streaming">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

        <!-- Place favicon.ico and apple-touch-icon(s) here  -->

        <link rel="shortcut icon" href="http://cdn.ink.sapo.pt/3.1.10/img/favicon.ico">
        <link rel="apple-touch-icon" href="http://cdn.ink.sapo.pt/3.1.10/img/touch-icon-iphone.png">
        <link rel="apple-touch-icon" sizes="76x76" href="http://cdn.ink.sapo.pt/3.1.10/img/touch-icon-ipad.png">
        <link rel="apple-touch-icon" sizes="120x120" href="http://cdn.ink.sapo.pt/3.1.10/img/touch-icon-iphone-retina.png">
        <link rel="apple-touch-icon" sizes="152x152" href="http://cdn.ink.sapo.pt/3.1.10/img/touch-icon-ipad-retina.png">
        <link rel="apple-touch-startup-image" href="http://cdn.ink.sapo.pt/3.1.10/img/splash.320x460.png" media="screen and (min-device-width: 200px) and (max-device-width: 320px) and (orientation:portrait)">
        <link rel="apple-touch-startup-image" href="http://cdn.ink.sapo.pt/3.1.10/img/splash.768x1004.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
        <link rel="apple-touch-startup-image" href="http://cdn.ink.sapo.pt/3.1.10/img/splash.1024x748.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">

        <!-- load Ink's css from the cdn -->
        <link rel="stylesheet" type="text/css" href="http://cdn.ink.sapo.pt/3.1.10/css/ink-flex.min.css">
        <link rel="stylesheet" type="text/css" href="http://cdn.ink.sapo.pt/3.1.10/css/font-awesome.min.css">

        <!-- load Ink's css for IE8 -->
        <!--[if lt IE 9 ]>
            <link rel="stylesheet" href="http://cdn.ink.sapo.pt/3.1.10/css/ink-ie.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
        <![endif]-->

        <!-- test browser flexbox support and load legacy grid if unsupported -->
        <script type="text/javascript" src="http://cdn.ink.sapo.pt/3.1.10/js/modernizr.js"></script>
        <script type="text/javascript">
            Modernizr.load({
              test: Modernizr.flexbox,
              nope : 'http://cdn.ink.sapo.pt/3.1.10/css/ink-legacy.min.css'
            });
        </script>

        <!-- load Ink's javascript files from the cdn -->
        <script type="text/javascript" src="http://cdn.ink.sapo.pt/3.1.10/js/holder.js"></script>
        <script type="text/javascript" src="http://cdn.ink.sapo.pt/3.1.10/js/ink-all.min.js"></script>
        <script type="text/javascript" src="http://cdn.ink.sapo.pt/3.1.10/js/autoload.js"></script>


        <style type="text/css">

            body {
                background: #ededed;
            }

            header h1 small:before  {
                content: "|";
                margin: 0 0.5em;
                font-size: 1.6em;
            }

            footer {
                background: #ccc;
            }

        </style>

    </head>
    <body>
        <div class="ink-grid">

            <!--[if lte IE 9 ]>
            <div class="ink-alert basic" role="alert">
                <button class="ink-dismiss">&times;</button>
                <p>
                    <strong>You are using an outdated Internet Explorer version.</strong>
                    Please <a href="http://browsehappy.com/">upgrade to a modern browser</a> to improve your web experience.
                </p>
            </div>
            -->

            <!-- Add your site or application content here -->

            <header class="vertical-space">
                <h1>I See You - Deep Learning Project<small>CRITICAL Software - Summer Innovation Week 2018</small></h1>
                <nav class="ink-navigation">
                    <ul class="menu horizontal red">
                        <li><a href="./index.html">AWS Deep Lens</a></li>
                        <li class="active"><a href="#">About Us</a></li>
                    </ul>
                </nav>
            </header>
            <div class="column-group gutters">
                <div class="all-100">
                    <h2>Development Team</h2>
                    <div class="all-75 small-100 tiny-100">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus luctus egestas leo. Etiam quis quam. Nullam sit amet magna in magna gravida vehicula. Maecenas aliquet accumsan leo. Quisque porta. Maecenas sollicitudin. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Mauris dolor felis, sagittis at, luctus sed, aliquam non, tellus. Phasellus faucibus molestie nisl. Quisque porta. Vestibulum fermentum tortor id mi. Fusce consectetuer risus a nunc. Duis viverra diam non justo. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. Nulla turpis magna, cursus sit amet, suscipit a, interdum id, felis.
                        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Proin pede metus, vulputate nec, fermentum fringilla, vehicula vitae, justo. Donec quis nibh at felis congue commodo. Pellentesque pretium lectus id turpis. Maecenas fermentum, sem in pharetra pellentesque, velit turpis volutpat ante, in pharetra metus odio a lectus. Nullam faucibus mi quis velit. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam rhoncus aliquam metus. Duis pulvinar. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet ante. Cras pede libero, dapibus nec, pretium sit amet, tempor quis. Suspendisse nisl.
                        Integer pellentesque quam vel velit. Quisque porta. Nam quis nulla. Morbi imperdiet, mauris ac auctor dictum, nisl ligula egestas nulla, et sollicitudin sem purus in lacus. Pellentesque pretium lectus id turpis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pede metus, vulputate nec, fermentum fringilla, vehicula vitae, justo. Nullam lectus justo, vulputate eget mollis sed, tempor sed magna. Phasellus rhoncus. Nunc tincidunt ante vitae massa. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet ante. Cras pede libero, dapibus nec, pretium sit amet, tempor quis. Suspendisse nisl.
                        Integer tempor. Praesent vitae arcu tempor neque lacinia pretium. Nunc tincidunt ante vitae massa. Et harum quidem rerum facilis est et expedita distinctio. Etiam sapien elit, consequat eget, tristique non, venenatis quis, ante. Nulla est. Nullam justo enim, consectetuer nec, ullamcorper ac, vestibulum in, elit. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Vestibulum fermentum tortor id mi. Duis risus. Maecenas sollicitudin. Integer imperdiet lectus quis justo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Aliquam ornare wisi eu metus. Morbi leo mi, nonummy eget tristique non, rhoncus non leo. Nullam rhoncus aliquam metus. Vivamus ac leo pretium faucibus.
                        Integer vulputate sem a nibh rutrum consequat. Nulla quis diam. Mauris tincidunt sem sed arcu. Duis condimentum augue id magna semper rutrum. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Mauris dolor felis, sagittis at, luctus sed, aliquam non, tellus. Phasellus rhoncus. Etiam egestas wisi a erat. Nullam sapien sem, ornare ac, nonummy non, lobortis a enim. Aliquam erat volutpat. Integer in sapien. Praesent id justo in neque elementum ultrices. Cras pede libero, dapibus nec, pretium sit amet, tempor quis. Integer lacinia. Integer tempor. Duis bibendum, lectus ut viverra rhoncus, dolor nunc faucibus libero, eget facilisis enim ipsum id lacus. Maecenas ipsum velit, consectetuer eu lobortis ut, dictum at dui.
                    </div>
                </div>
            </div>
        </div>
        <footer class="clearfix">
            <div class="ink-grid">
                <ul class="unstyled inline half-vertical-space"> </ul>
                <p class="note">All rights reserved to CRITICAL Software Inc, the project mentors Diana Mendes, Jason Bolito and Samuel Pedro and the SIW participants Filipe Pires, Hugo Marques, Inês Valentim, João Carvalho and João Martins.</p>
            </div>
        </footer>
    </body>
</html>
