<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>AWS Deep Lens - Video Streaming</title>
        <meta name="description" content="">
        <meta name="ISeeYou" content="AWS Deep Lens Video Streaming">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

        <!-- Place favicon.ico and apple-touch-icon(s) here  -->

        <link rel="shortcut icon" href="http://cdn.ink.sapo.pt/3.1.10/img/favicon.ico">
        <link rel="apple-touch-icon" href="http://cdn.ink.sapo.pt/3.1.10/img/touch-icon-iphone.png">
        <link rel="apple-touch-icon" sizes="76x76" href="http://cdn.ink.sapo.pt/3.1.10/img/touch-icon-ipad.png">
        <link rel="apple-touch-icon" sizes="120x120" href="http://cdn.ink.sapo.pt/3.1.10/img/touch-icon-iphone-retina.png">
        <link rel="apple-touch-icon" sizes="152x152" href="http://cdn.ink.sapo.pt/3.1.10/img/touch-icon-ipad-retina.png">
        <link rel="apple-touch-startup-image" href="http://cdn.ink.sapo.pt/3.1.10/img/splash.320x460.png" media="screen and (min-device-width: 200px) and (max-device-width: 320px) and (orientation:portrait)">
        <link rel="apple-touch-startup-image" href="http://cdn.ink.sapo.pt/3.1.10/img/splash.768x1004.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
        <link rel="apple-touch-startup-image" href="http://cdn.ink.sapo.pt/3.1.10/img/splash.1024x748.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">

        <!-- load Ink's css from the cdn -->
        <link rel="stylesheet" type="text/css" href="http://cdn.ink.sapo.pt/3.1.10/css/ink-flex.min.css">
        <link rel="stylesheet" type="text/css" href="http://cdn.ink.sapo.pt/3.1.10/css/font-awesome.min.css">

        <!-- load Ink's css for IE8 -->
        <!--[if lt IE 9 ]>
            <link rel="stylesheet" href="http://cdn.ink.sapo.pt/3.1.10/css/ink-ie.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
        <![endif]-->

        <!-- test browser flexbox support and load legacy grid if unsupported -->
        <script type="text/javascript" src="http://cdn.ink.sapo.pt/3.1.10/js/modernizr.js"></script>
        <script type="text/javascript">
            Modernizr.load({
              test: Modernizr.flexbox,
              nope : 'http://cdn.ink.sapo.pt/3.1.10/css/ink-legacy.min.css'
            });
        </script>

        <!-- load Ink's javascript files from the cdn -->
        <script type="text/javascript" src="http://cdn.ink.sapo.pt/3.1.10/js/holder.js"></script>
        <script type="text/javascript" src="http://cdn.ink.sapo.pt/3.1.10/js/ink-all.min.js"></script>
        <script type="text/javascript" src="http://cdn.ink.sapo.pt/3.1.10/js/autoload.js"></script>


        <style type="text/css">

            body {
                background: #ededed;
            }

            header h1 small:before  {
                content: "|";
                margin: 0 0.5em;
                font-size: 1.6em;
            }

            footer {
                background: #ccc;
            }

        </style>

    </head>
    <body>
        <div class="ink-grid">

            <!--[if lte IE 9 ]>
            <div class="ink-alert basic" role="alert">
                <button class="ink-dismiss">&times;</button>
                <p>
                    <strong>You are using an outdated Internet Explorer version.</strong>
                    Please <a href="http://browsehappy.com/">upgrade to a modern browser</a> to improve your web experience.
                </p>
            </div>
            -->

            <!-- Add your site or application content here -->

            <header class="vertical-space">
                <h1>I See You - Deep Learning Project<small>CRITICAL Software - Summer Innovation Week 2018</small></h1>
                <nav class="ink-navigation">
                    <ul class="menu horizontal red">
                        <li><a href="./index.html">AWS Deep Lens</a></li>
                        <li class="active"><a href="#">About Us</a></li>
                    </ul>
                </nav>
            </header>
            <div class="column-group gutters">
                <div class="all-100">
                    <h2>Development Team</h2>
                    <p align="justify">The I See You team is a group of engineering students focused on the creation of an inteligent lens prototype capable of recognizing humans amongst other visual elements and identifying faces with high precision. Our project Deep Lens is motivated by the Summer Innovation Week at CRITICAL Software and has the purpose of introducing us students, Filipe Pires, Hugo Marques, Inês Valentim, João Carvalho and João Martins, to the world of Deep Learning in a very practical way.
                    </p>
                    <p align="justify">The project's mentors, Diana Mendes, Jason Bolito and Samuel Pedro, prepared a set of 3 milestones to be implemented by the development team, providing us with the AWS DeepLens Camera, its detection and recognition models (already trained) and the deployment scripts for the camera system and allowing us to go beyond the propositions. After 3 days of intense planning, learning and programming, the result is a web service with a live stream of the video processed by the AWS camera and broadcasted to the clients via a server. The viewer can then choose whether to see how many elements are detected by the camera (including simple objects such as chairs and tables, as well as humans) or who's face is looking at the camera (giving the person's name if he/she is in the database).
                    </p>
                    <img src="">
                </div>
            </div>
        </div>
        <footer class="clearfix">
            <div class="ink-grid">
                <ul class="unstyled inline half-vertical-space"> </ul>
                <p class="note">All rights reserved to CRITICAL Software Inc, the project mentors Diana Mendes, Jason Bolito and Samuel Pedro and the SIW participants Filipe Pires, Hugo Marques, Inês Valentim, João Carvalho and João Martins.</p>
            </div>
        </footer>
    </body>
</html>
